<!DOCTYPE html>
<html>
  <head>
    <title>DeliveryProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <br>
      <div class="menu">

        <% if current_user %>
          <%= link_to 'Home', root_path %> |
          <%= link_to 'User type', user_types_path %> |
          <%= link_to 'User', users_path %> |

          <%= link_to current_user.name, current_user %> |
          <%= link_to 'Logout', logout_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', login_path %> or
          <%= link_to 'Sign up', new_user_path %>
        <% end %>

      </div>

      <%= yield %>
    </div>
  </body>
</html>
