<!DOCTYPE html>
<html>
  <head>
    <title>Pede.Pizza</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  </head>

  <body>
    <% if @should_show_pede_pizza_menu %>
    <div id="pede_pizza_menu">
      <div class="container">
        <%= link_to 'Pede.Pizza', hotsite_index_path, class: 'logo' %>

        <% if current_user %>
          <%= link_to current_user.name, current_user, class: 'menu-button' %>
        <% else %>
          <%= link_to 'Login', login_path, class: 'menu-button' %>
        <% end %>

        <%= link_to 'About', hotsite_about_path, class: 'menu-button' %>

        <div class="clear"></div>
      </div>
    </div>
    <% end %>

    <% if @should_show_menu %>
    <div id="menu">
      <div class="container">
        <a href="#" class="selected">
          <i class="fas fa-clipboard-list fa-2x"></i>
          <span>Menu</span>
        </a>

        <a href="#">
          <i class="fas fa-file-alt fa-2x"></i>
          <span>Order</span>
        </a>

        <% if current_user %>
          <%= link_to raw('<i class="fas fa-user fa-2x"></i><span>' + current_user.name + '</span>'), current_user %>
        <% else %>
          <%= link_to raw('<i class="fas fa-user fa-2x"></i><span>Login</span>'), login_path %>
        <% end %>
      </div>
    </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <div id="footer">
      <p>Criado por <%= link_to raw('<b>Pede.Pizza</b>'), hotsite_index_path %></p>
    </div>
  </body>
</html>
